html{
    overflow-x: hidden;
    overflow-y: hidden;
}

header{
    padding: 15px 15px 15px 0;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


#hamburgermenu{
    display: none;
}

.hamburgermenu-icon{
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburgermenu-icon span{
    height: 2px;
    background: white;
    border-radius: 2px;
    background-color: black;
}

.menu{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 30px;
    padding: 10px 20px;
    top: 30px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    height: auto;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 35px;
    color: black;
}

.menu a:hover{
    color: blue;
}

#hamburgermenu:checked + .hamburgermenu-icon + .menu{
    display: flex;
}

.Logo{
    width: 50px;
    margin: 10px 0 0 10px;
}

.vlag{
    width: 50px
}

footer{
    position: fixed;
    bottom: 0;
    margin: 0 0 5px 5px;
}